@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

.wrap {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.1);
}
.logo_wrap{
	text-align: center;
    font-size: 23px;
}
.login_id {
    margin-top: 5px;
    width: 80%;
    text-align: left;
}    
.login {
  width: 30%;
  height: 600px;
  background: white;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h2 {
  color: tomato;
  font-size: 2em;
}
.login_id {
  margin-top: 35px;
  width: 80%;
}

.login_id input {
  width: 110%;
  height: 50px;
  border-radius: 30px;
  margin-top: 10px;
  margin-left: 19px;
  padding: 0px 20px;
  border: 1px solid lightgray;
  outline: none;
}

.login_pw {
  margin-top: 20px;
  width: 80%;
  text-align: left;
}

.login_pw input {
  width: 110%;
  height: 50px;
  border-radius: 30px;
  margin-top: 10px;
  margin-left: 19px;
  padding: 0px 20px;
  border: 1px solid lightgray;
  outline: none;
}

.login_etc {
  padding: 10px;
  width: 80%;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.submit {
  margin-top: 25px;
  margin-bottom: 20px;
  width: 150%;
}
.submit input {
  width: 75%;
  height: 50px;
  border: 0;
  outline: none;
  border-radius: 40px;
  background: linear-gradient(to left, rgb(255, 77, 46), rgb(255, 155, 47));
  color: white;
  font-size: 1.2em;
  letter-spacing: 2px;
}
.login_button{
    margin-left: 160px;
    margin-top: -500px;
    cursor: pointer;
}
/*x버튼*/
.notice-box {
  padding:0px;
  background-color:rgb(249, 250, 252);
  text-align:left; 
  margin-top: 0px;
}
#close {
  border: 0;
  float:right;
  display:block;
  padding:0px 0px;
  font-weight: 700;
  text-shadow: 0 1px 0 #fff;
  font-size: 1.3rem;
  margin-right: -14px;
  margin-top: -20px;
  background: #fff;
}
#close:hover {
  border: 0;
  cursor:pointer;
  opacity: .75;
}

